fastapi[standard]
uvicorn[standard]
asyncpg
pydantic
pydantic-settings
pathlib
shortuuid
pyjwt
bcrypt
fastapi-redis-cache
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-docker
httpx
redis>=4.2.0rc1

